@import url(https://db.onlinewebfonts.com/c/8481676409c7046df0f45dc280acf2be?family=onlinewebfonts);
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

@tailwind base;
@tailwind components;


.bgi{
  @apply  min-h-screen bg-black bg-cover bg-no-repeat bg-gradient-to-t from-neutral-700 to-zinc-800 lg:bg-[url('https://res.cloudinary.com/drw8eqw3i/image/upload/v1690891801/Mercor/bgline_opuzvb.png')];
}
.store_btn{
  @apply flex flex-row gap-2.5 justify-center items-center md:px-5 md:py-3 px-3 py-2 border border-solid border-white bg-black rounded-lg lg:text-base md:text-sm text-xs font-extrabold leading-5 tracking-md uppercase hover:text-black hover:bg-slate-100 ;
}
.hr_border{
  @apply border border-solid border-black/30 h-0 w-full;
}
@tailwind utilities;

body{
  color: #fff;
}

@font-face {
  font-family: agrandir;
  src: url(/mercor/public/Agrandir\ Regular\ 400.otf);
}

.agrandir{
  font-family: agrandir;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #272727;
  /* border-radius: 8px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a8989;
  border-radius: 8px;
  
}